@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* seared style */
.flex{
  display: flex;
}

/* font color */
.dark1{
color: #131313;
}
.dark2{
color: #424242;
}
.dark3{
color: #727272;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
}

/* background colors*/
.primary-bg-color{
  background-color:rgba(255, 144, 14, 0.1);
}
.secondary-bg-color{
  background-color:#FF900E ;
  color: white;
}

/* header style */

/* navbar style */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  font-weight: 700;
  font-size: 2.8rem;
}
.li1,.li2,.li3,.li4{
  font-weight: 500;
  font-size: 1.2rem;
}
.navbar li{
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}
.navbar,.banner{
  max-width: 1100px;
  margin: 0 auto;
}

/* banner related style */

.banner-container{
  max-width: 765px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;

}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  margin: 10px auto;
}
.banner-description{
  font-weight: 500;
  font-size: 1rem;
  margin: 10px auto;
}
.banner-btn{
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  margin: 10px auto;
  
}
.banner img{
  width: 100%;
}

/* main related style */
section{
    max-width: 1000px;
  margin: 85px auto;
}
.teams{
  justify-content: space-between;
}

/* Architect discuss section related */

.discuss-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.discuss-img img{
  width: 100%;
}
.discuss-container{
  max-width: 480px;
  margin: auto ;
  margin-left: 80px;
}
.discuss-title{
  font-weight: 500;
  font-size: 2.8rem;
  margin: auto;
}
.discuss-subtitle{
  color: #FF900E;
}
.discuss-description{
  font-weight: 400;
  font-size: 1rem;
}
.discuss-btn{
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
}

/* facts related style */

.cards-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 100px;
  margin-top: 60px;
}
.facts-card{
  border:2px solid #FF900E;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}
.card-number{
  margin: 0;
}
.facts-description{
  font-size: 1rem;
  font-weight: 500;
}
.card-number{
  font-weight: 600;
  font-size: 2.8rem;
}
.card-title{
  font-weight: 600;
  font-size: 1.2rem;
}

/* sponsors related style */
.our-sponsors{
  max-width: 500px;
  text-align: center;
  margin: 25px auto;
}
.sponsors-description{
  font-size: 1rem;
  font-weight: 500;
}
.sponsors-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 60px;
}
.sponsors-companies img{
   filter: grayscale(100%);
}
/* responsive the website use media quaye */

/* Mobil responsive */
@media screen and (max-width:567px) {
  .navbar{
    flex-direction: column;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .teams{
    flex-direction: column;
  }
  .discuss-img{
    grid-template-columns: repeat(1,1fr);
  }
.discuss-container{
  margin: auto;
}
.cards-container{
  grid-template-columns: repeat(1,1fr);
}

.sponsors-companies{
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
}
.sponsors-companies img{
  margin-bottom: 15px;
}
}


/* medium device */

@media screen and (min-width:567px) and (max-width:992px){
  .teams{
    flex-direction: column;
  }
  .discuss-container{
    margin: 50px auto;
  }
  .cards-container{
    grid-template-columns: repeat(2,1fr);
  }
  .sponsors-companies{
    grid-template-columns: repeat(3,1fr);
  }
}
